#game-board {
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    border: 2px solid #333;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s, color 0.3s;
  }